.accordion__item {
	position: relative;
	display: flex;
	align-items: center;
}

.accordion__item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	//transition: .4s;
	background: linear-gradient(90deg, rgba(232, 232, 232, 0.12) 0%, rgba(196, 196, 196, 0) 78.12%);
	border-radius: 21px;
	opacity: 0;
}

.accordion__img {
	position: relative;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 41px;
	height: 41px;
	margin-right: 24px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid;
}

.accordion__img.pik {
	border-color: #D95CF9;
	box-shadow: 0 0 4px #D95CF9
}

.accordion__img.red {
	border-color: #FF4D5F;
	box-shadow: 0 0 4px #FF4D5F
}

.accordion__img.ylw {
	border-color: #E9C716;
	box-shadow: 0 0 4px #E9C716
}

.accordion__img.grn {
	border-color: #08E138;
	box-shadow: 0 0 4px #08E138;
}

.accordion__img.birch {
	border-color: #5CF9F9;
	box-shadow: 0 0 4px #5CF9F9;
}

.accordion__img.orange {
	border-color: #F98B5C;
	box-shadow: 0 0 4px #F98B5C;
}

.accordion__img img {
	width: 33px;
	height: 33px;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
}

.accordion__text {
	display: flex;
	align-items: center;
	
}
.accordion__text p {
	margin: 0;
	margin-right: 18px;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Montserrat Regular', sans-serif;
	color: $white;
}

.accordion-status.emerald {
	color: #1DBDAB;
}

.accordion-status, .accordion-partners {
	opacity: 0;
	transition: .4s;
}

.accordion__item:hover::after {
	opacity: 1;
}

.accordion__item:hover .accordion-status {
	opacity: 1;
}
.accordion__item:hover .accordion-partners {
	opacity: 1;
}

.cd-accordion-menu {
	width: max-content;
}

.cd-accordion-menu ul {
	/* by default hide all sub menus */
	display: none;
}

.cd-accordion-menu li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-accordion-menu input[type=checkbox] {
	/* hide native checkbox */
	position: absolute;
	opacity: 0;
}

.cd-accordion-menu label,
.cd-accordion-menu a {
	position: relative;
	display: block;
	padding: 18px 18px 18px 64px;
	background: #373D47;

	color: #ffffff;
}

.no-touch .cd-accordion-menu label:hover,
.no-touch .cd-accordion-menu a:hover {
	background: #52565d;
}

.cd-accordion-menu label::before {
	/* icons */
	content: '';
	display: inline-block;
	width: 18px;
	height: 10px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-image: url('../img/svg/icon_arrow_accordeon.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.cd-accordion-menu label {
	cursor: pointer;
}


.cd-accordion-menu label::before {
	/* arrow icon */
	left: 18px;
	background-position: 0 0;
	-webkit-transform: translateY(-50%) rotate(-90deg);
	-moz-transform: translateY(-50%) rotate(-90deg);
	-ms-transform: translateY(-50%) rotate(-90deg);
	-o-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
}


.cd-accordion-menu input[type=checkbox]:checked+label::before {
	/* rotate arrow */
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cd-accordion-menu input[type=checkbox]:checked+label::after {
	/* show open folder icon if item is checked */
	background-position: -32px 0;
}

.cd-accordion-menu input[type=checkbox]:checked+label+ul,
.cd-accordion-menu input[type=checkbox]:checked+label:nth-of-type(n)+ul {
	/* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
	/* show children when item is checked */
	display: block;
}

.no-touch .cd-accordion-menu ul label:hover,
.no-touch .cd-accordion-menu ul a:hover {
	background: #373D47;
}

.cd-accordion-menu>li:last-of-type>label,
.cd-accordion-menu>li:last-of-type>a,
.cd-accordion-menu>li>ul>li:last-of-type label,
.cd-accordion-menu>li>ul>li:last-of-type a {
	box-shadow: none;
}

.cd-accordion-menu label,
.cd-accordion-menu a {
	padding: 10px 24px 10px 28px;
}

.cd-accordion-menu label::before {
	left: 0;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
	padding-left: 62px;
}

.cd-accordion-menu ul label::before {
	left: 36px;
}

.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
	padding-left: 98px;
}

.cd-accordion-menu ul ul label::before {
	left: 72px;
}

.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
	padding-left: 132px;
}

.cd-accordion-menu ul ul ul ul label,
.cd-accordion-menu ul ul ul ul a {
	padding-left: 170px;
}

.cd-accordion-menu ul ul ul ul ul label,
.cd-accordion-menu ul ul ul ul ul a {
	padding-left: 206px;
}

.cd-accordion-menu ul ul ul ul ul ul label,
.cd-accordion-menu ul ul ul ul ul ul a {
	padding-left: 250px;
}

.cd-accordion-menu ul ul ul label::before {
	left: 108px;
}

.cd-accordion-menu ul ul ul ul label::before {
	left: 144px;
}

.cd-accordion-menu ul ul ul ul ul label::before {
	left: 206px;
}

.cd-accordion-menu ul ul ul ul ul label::before {
	left: 182px;
}

@media screen and (max-width: 576px) {

	.accordion-status, .accordion-partners {
		display: none;
	}

	.cd-accordion-menu label,
	.cd-accordion-menu a {
		padding: 10px 24px 10px 28px;
	}

	.cd-accordion-menu label::before {
		left: 0;
		width: 12px;
    height: 7px;
	}

	.cd-accordion-menu ul label,
	.cd-accordion-menu ul a {
		padding-left: 50px;
	}

	.cd-accordion-menu ul label::before {
		left: 24px;
	}

	.cd-accordion-menu ul ul label,
	.cd-accordion-menu ul ul a {
		padding-left: 70px;
	}

	.cd-accordion-menu ul ul label::before {
		left: 46px;
	}

	.cd-accordion-menu ul ul ul label,
	.cd-accordion-menu ul ul ul a {
		padding-left: 94px;
	}

	.cd-accordion-menu ul ul ul ul label,
	.cd-accordion-menu ul ul ul ul a {
		padding-left: 118px;
	}

	.cd-accordion-menu ul ul ul ul ul label,
	.cd-accordion-menu ul ul ul ul ul a {
		padding-left: 140px;
	}

	.cd-accordion-menu ul ul ul ul ul ul label,
	.cd-accordion-menu ul ul ul ul ul ul a {
		padding-left: 162px;
	}

	.cd-accordion-menu ul ul ul label::before {
		left: 70px;
	}

	.cd-accordion-menu ul ul ul ul label::before {
		left: 94px;
	}

	.cd-accordion-menu ul ul ul ul ul label::before {
		left: 206px;
	}

	.cd-accordion-menu ul ul ul ul ul label::before {
		left: 118px;
	}

}

.cd-accordion-menu.animated label::before {
	/* this class is used if you're using jquery to animate the accordion */
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}