.accordion__item {
	display: flex;
	align-items: center;
}

.accordion__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 41px;
	height: 41px;
	margin-right: 24px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid;
	
}

.accordion__img.pik {
	border-color: #D95CF9;
	box-shadow: 0 0 4px #D95CF9
}

.accordion__img.red {
	border-color: #FF4D5F;
	box-shadow: 0 0 4px #FF4D5F
}

.accordion__img.ylw {
	border-color: #E9C716;
	box-shadow: 0 0 4px #E9C716
}

.accordion__img.grn {
	border-color: #08E138;
	box-shadow: 0 0 4px #08E138;
}

.accordion__img.birch {
	border-color: #5CF9F9;
	box-shadow: 0 0 4px #5CF9F9;
}

.accordion__img.orange {
	border-color: #F98B5C;
	box-shadow: 0 0 4px #F98B5C;
}

.accordion__img img {
	width: 33px;
	height: 33px;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
}

.accordion__item span {
	font-size: 18px;
	line-height: 18px;
	font-family: 'Montserrat Regular', sans-serif;
}




.cd-accordion-menu {
	width: 100%;
}

.cd-accordion-menu ul {
	/* by default hide all sub menus */
	display: none;
}

.cd-accordion-menu li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-accordion-menu input[type=checkbox] {
	/* hide native checkbox */
	position: absolute;
	opacity: 0;
}

.cd-accordion-menu label,
.cd-accordion-menu a {
	position: relative;
	display: block;
	padding: 18px 18px 18px 64px;
	background: #373D47;

	color: #ffffff;
}

.no-touch .cd-accordion-menu label:hover,
.no-touch .cd-accordion-menu a:hover {
	background: #52565d;
}

.cd-accordion-menu label::before {
	/* icons */
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cd-accordion-menu label {
	cursor: pointer;
}

.cd-accordion-menu label::before {
	background-image: url(../img/cd-icons.svg);
	background-repeat: no-repeat;
}

.cd-accordion-menu label::before {
	/* arrow icon */
	left: 18px;
	background-position: 0 0;
	-webkit-transform: translateY(-50%) rotate(-90deg);
	-moz-transform: translateY(-50%) rotate(-90deg);
	-ms-transform: translateY(-50%) rotate(-90deg);
	-o-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
}


.cd-accordion-menu input[type=checkbox]:checked+label::before {
	/* rotate arrow */
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cd-accordion-menu input[type=checkbox]:checked+label::after {
	/* show open folder icon if item is checked */
	background-position: -32px 0;
}

.cd-accordion-menu input[type=checkbox]:checked+label+ul,
.cd-accordion-menu input[type=checkbox]:checked+label:nth-of-type(n)+ul {
	/* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
	/* show children when item is checked */
	display: block;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
	background: #373D47;
	padding-left: 74px;
}

.no-touch .cd-accordion-menu ul label:hover,
.no-touch .cd-accordion-menu ul a:hover {
	background: #373D47;
}

.cd-accordion-menu>li:last-of-type>label,
.cd-accordion-menu>li:last-of-type>a,
.cd-accordion-menu>li>ul>li:last-of-type label,
.cd-accordion-menu>li>ul>li:last-of-type a {
	box-shadow: none;
}

.cd-accordion-menu ul label::before {
	left: 36px;
}

.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
	padding-left: 100px;
}

.cd-accordion-menu ul ul label::before {
	left: 54px;
}

.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
	padding-left: 118px;
}

.cd-accordion-menu ul ul ul label::before {
	left: 72px;
}

@media only screen and (min-width: 600px) {

	.cd-accordion-menu label,
	.cd-accordion-menu a {
		padding: 10px 24px 10px 28px;
	}

	.cd-accordion-menu label::before {
		left: 0;
	}

	.cd-accordion-menu ul label,
	.cd-accordion-menu ul a {
		padding-left: 62px;
	}

	.cd-accordion-menu ul label::before {
		left: 36px;
	}

	.cd-accordion-menu ul ul label,
	.cd-accordion-menu ul ul a {
		padding-left: 98px;
	}

	.cd-accordion-menu ul ul label::before {
		left: 72px;
	}

	.cd-accordion-menu ul ul ul label,
	.cd-accordion-menu ul ul ul a {
		padding-left: 132px;
	}

	.cd-accordion-menu ul ul ul ul label,
	.cd-accordion-menu ul ul ul ul a {
		padding-left: 170px;
	}
	.cd-accordion-menu ul ul ul ul ul label,
	.cd-accordion-menu ul ul ul ul ul a {
		padding-left: 206px;
	}
	.cd-accordion-menu ul ul ul ul ul ul label,
	.cd-accordion-menu ul ul ul ul ul ul a {
		padding-left: 250px;
	}

	.cd-accordion-menu ul ul ul label::before {
		left: 108px;
	}
	.cd-accordion-menu ul ul ul ul label::before {
		left: 144px;
	}
	.cd-accordion-menu ul ul ul ul ul label::before {
		left: 206px;
	}
	.cd-accordion-menu ul ul ul ul ul label::before {
		left: 182px;
	}

}

.cd-accordion-menu.animated label::before {
	/* this class is used if you're using jquery to animate the accordion */
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}