*,
::after,
::before
  box-sizing: border-box
  outline: none

body
  position: relative
  margin: 0
  font-size: 16px
  line-height: 18px
  color: $white
  text-align: left
  background-color: $gray-dark
  cursor: default
  +mon4
  &.atv
    overflow: hidden
  &.active
    overflow: hidden

.substrate
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  height: 550%
  background: rgba(0, 0, 0, 0.52)
  z-index: 4
  opacity: 0
  transition: opacity .4s
  pointer-events: none
  transform: scale(0)
  transform-origin: center
  &.active
    opacity: 1
    pointer-events: auto
    transform: scale(1)

::-webkit-scrollbar
  width: 12px

::-webkit-scrollbar-track
  background: rgba(56, 62, 73, 0.56)
  border-radius: 116px
  transform: rotate(-90deg)

::-webkit-scrollbar-thumb
  background: #292F39
  border-radius: 18px
  transform: rotate(-90deg)
  border: 2px solid rgba(56, 62, 73, 0.56)

img
  max-width: 100%

.button
  border: none
  height: 35px
  padding: 0 16px
  background: #7635FF
  border-radius: 18px
  font-size: 14px
  line-height: 17px
  font-weight: 700
  color: $white
  +mon4
  &:focus
    outline: none

a, input, button
  outline: none
  &:focus
    outline: none
    box-shadow: none !important

a
  text-decoration: none

ul
  margin: 0
  padding: 0
  li
    list-style: none

.title
  margin: 0
  margin-bottom: 46px
  font-size: 25px
  line-height: 30px
  color: $gray2
  font-weight: 700
  +mon4
  color: #EAEAEA

.subtitle
  font-size: 25px
  line-height: 30px
  font-weight: normal
  +mon4

.check
  position: relative
  padding-left: 68px
  font-size: 16px
  line-height: 20px
  color: $gray
  transition-duration: .4s
  +mon4
  &:hover
    cursor: pointer
    color: $white
    transition: .4s
  &__input
    position: absolute
    appearance: none
    transition: .4s
    &:checked + .check__box::after
      background: #774BFF
      left: 3px
      transition: .4s
  &__box
    position: absolute
    top: 50%
    width: 46px
    height: 24px
    margin-left: -58px
    border-radius: 37px
    background: #666A7E
    transform: translateY(-50%)
    transition: .4s
    &::after
      content: ''
      position: absolute
      display: block
      width: 20px
      height: 20px
      right: 2px
      top: 50%
      transform: translateY(-50%)
      background: $gray
      border-radius: 50%
      background-size: contain
      transition-duration: .4s
      box-shadow: 0px -5px 7px rgba(42, 47, 72, 0.47), 0px 5px 7px #0A0B1B

.__select__title
  +mon7

.m-4
  margin-bottom: 40px

@media (min-width:992px)
  .button
    &:hover
      transition-duration: 500ms
      cursor: pointer
    &[disabled="disabled"], &[disabled]
      cursor: default
    &:active
      background: $black
    &[disabled="disabled"], &[disabled]
      background: $black

@media screen and ( max-width: 576px )
  .check
    padding-left: 52px
    font-size: 14px
  .button
    font-size: 12px
    line-height: 15px
    height: 23px
  .subtitle
    font-size: 16px
    line-height: 18px
  .title
    margin-bottom: 30px
    font-size: 16px
    line-height: 18px
  ::-webkit-scrollbar
    width: 8px
  ::-webkit-scrollbar-thumb
    border: 3px solid rgba(56, 62, 73, 0.56)
  .m-4
    margin-bottom: 20px
