.create-contract
  width: 434px
  float: left
  margin-right: 54px
  &__text
    font-size: 14px
    line-height: 20px
  &__button
    width: 100%
    height: 50px
    margin-top: 16px
    font-size: 18px
    line-height: 22px
  
@media screen and ( max-width: 1200px )
  .create-contract
    float: none
    margin: 0
    margin-bottom: 30px
  

@media screen and ( max-width: 992px )
  .create-contract
    margin: 0 auto
    margin-bottom: 30px
@media screen and ( max-width: 576px )
  .create-contract
    width: 100%
