.finance
  display: flex
  align-items: center
  &__item
    width: 35%
    margin-right: 60px
    &:last-child
      margin-right: 0
  &-user
    display: flex
    align-items: center
    margin-bottom: 25px
    &__img
      margin-right: 28px
      width: 61px
      height: 61px
      border: 1px solid #D95CF9
      box-sizing: border-box
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      overflow: hidden
      img
        width: 49px
        height: 49px
        border-radius: 50%
        overflow: hidden
        object-fit: cover

    &__text
      p
        margin: 0

        font-size: 14px
        line-height: 21px
        +pop7
      span
        font-size: 11px
        line-height: 16px
        color: #8A8C98
  &-box

  &-header
    &_tab
      


