.gains
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  max-width: 326px
  padding: 30px 18px
  padding-bottom: 0
  background: $dark
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12)
  border-radius: 18px
  &-rank
    position: relative
    padding-bottom: 2px
    width: 100%
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 2px
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 71.01%, rgba(255, 255, 255, 0) 76.52%)
    &__header
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 20px
      p
        text-align: center
        margin: 0
        font-size: 16px
        line-height: 20px
        +mon4
        font-weight: 700
        text-transform: uppercase
    &__img
      margin-bottom: 10px
    &__footer
      p
        margin: 0
        margin-bottom: 8px
        font-weight: 300
        font-size: 10px
        line-height: 12px
        +mon4
        color: rgba($white, 0.66)
  &-more
    overflow: hidden
    margin-top: 26px
    transition: 0.01s
    &.active
      height: 100%
      transition: .8s
  &-progress
    display: none
    padding: 0 16px
    background: #373D47
    border: 1px solid #A4A4A4
    box-sizing: border-box
    border-radius: 49px
    font-size: 10px
    line-height: 15px
    color: $white
    height: 25px
    transition: .4s
    pointer-events: none
    &:hover
      cursor: pointer
      background: #8000FF
      border: 1px solid #8000FF

.level
  position: relative
  min-height: 69px
  margin-bottom: 30px
  &__box
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 10px
    border-radius: 18px
    z-index: 2
  &__left
    position: relative
    width: 80%
    display: flex
    align-items: center
  &__right
    width: 26%
    p
      margin: 0
      +mon4
      font-weight: 700
      font-size: 14px
      line-height: 17px
      color: $white
      white-space: nowrap
    span
      display: block
      text-align: center
      font-size: 12px
      line-height: 12px
      +mon4
      font-weight: 700
      white-space: nowrap
  &__img
    position: absolute
    left: 6px
    top: 0
    width: 40px
    height: 40px
    img
      width: 40px
      height: 40px
  &__text
    padding-left: 54px
    p
      margin: 0
      font-size: 12px
      line-height: 15px
      font-weight: 700
      color: $white
      +mon4
    span
      font-size: 12px
      line-height: 15px
      color: #A6A6A6
      +mon4
    &.more
      p
        font-size: 10px
        line-height: 12px

@media screen and ( max-width: 1400px )
  .level
    margin-bottom: 20px
  .gains
    padding-bottom: 20px
    &-more
      margin-top: 6px
      height: 0
    &-rank
      &::after
        display: none
    &-progress
      display: block
      pointer-events: auto

@media screen and ( max-width: 768px )
  .gains
    margin-bottom: 26px

@media screen and ( max-width: 576px )
  .gains
    padding: 20px 10px
@media screen and ( max-width: 340px )
  .gains
  .level
    &__text
      span
        display: block
        margin-top: 6px
        font-size: 10px
        line-height: 10px


  

