.settings
  &-header
    border: 1px solid
    display: flex
    align-items: center
    &__tab
      display: flex
      align-items: center
      justify-content: center
      height: 34px
      margin-right: 18px
      padding: 0 18px
      font-size: 12px
      line-height: 15px
      background: #3C3E40
      border-radius: 18px
      transition: .6s
      &:last-child
        margin-right: 0
      &:hover
        cursor: pointer
        background:  rgba(202, 190, 239, 0.51)
      
