body
  &.__white
    background: #f7f8fa
    &.bg
      .content__header
        transition: .4s
        background: $white

    p
      color: #434343

    ::-webkit-scrollbar
      width: 12px
      height: 12px

    ::-webkit-scrollbar-track
      background: rgba(56, 62, 73, 0.07)

    ::-webkit-scrollbar-thumb
      background: rgba(192, 192, 192, 0.46)
      border: 2px solid rgba(56, 62, 73, 0.07)

    .content__header
      background: #f7f8fa
    .title
      color: #3E3E3E
    .menu
      li
        &.menu-active
          a
            color: #575757
            &::after
              left: 1px
              opacity: 0.6
            &:hover
              color: #575757
              svg
                fill: #575757

            svg
              fill: #575757
        a
          color: #929292
          &:hover
            +mon5
            color: #575757
            svg
              fill: #575757
        svg
          fill: #575757

    .user
      &__text
        p
          color: #15172E
          +mon5

    .logo
      &_dark
        display: none
      &_white
        display: block

    .check
      &__box
        background: #d1d1d1
      &__text
        color: #78808D
        &:hover
          color: #78808D

    .saidbar
      background: $white
      &::after
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 71.01%, rgba(255, 255, 255, 0) 99.52%)

      &__settings
        &.saidbar-active
          a
            color: #575757
            &::after
              left: 1px
              opacity: 0.6
            &:hover
              color: #575757
              svg
                fill: #575757

            svg
              fill: #575757
        a
          color: #929292
          &:hover
            +mon5
            color: #575757
            svg
              fill: #575757
        svg
          fill: #575757

    .language
      color: #15172E

    .notification
      &__block
        svg
          stroke: #1B1B1B

    .exit
      svg
        fill: #15172E

    .burger
      span
        background: #15172E

    .gains
      background: #FAFAFA
      &-progress
        background: #DDE7FF
        color: #15172e
        border: 1px solid #DDE7FF
        &:hover
          background: #DDE7FF
          color: #15172e
      &-rank
        &__header
          p
            color: #434343
        &__img
          border: 1px solid #D1D1D1
          box-shadow: 0px 0px 14px 1px #B3B3B3

    .level
      &__text
        p
          color: #1B1B1B
        span
          color: #78808D
      &__right
        p
          color: #1B1B1B
        span
          color: #15172E

    .progress
      &-bg
        background: #DDE7FF
      &-bar
        background: linear-gradient(180deg, #DDE7FF 0%, #F3F7FF 100%)
        filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.04))

    .profitability
      &-header
        &__item
          background: #FAFAFA
          span
            color: #1B1B1B
          p
            background: linear-gradient(180deg, #CDCDCD 0%, #272727 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent

          &.active
            p
              background: linear-gradient(45.04deg, #FFD6EF -35.82%, #DF45A3 100.3%)
              -webkit-background-clip: text
              -webkit-text-fill-color: transparent

      &-footer
        &__item
          background: linear-gradient(180deg, #DDE7FF 0%, #F3F7FF 100%)

        &__title, &__subtitle
          color: #1B1B1B
        &__content
          p
            color: #78808D
          span
            color: #3F3F3F
        &__property
          color: #78808D

    .button
      background: #DDE7FF
      color: #15172e
      border: 1px solid #DDE7FF
      +mon4
      &.transp
        background: transparent
        border: 1px solid #666A6F
        transition: .4s
        color: #15172E
        &:hover
          border: 1px solid #DDE7FF
          background: #DDE7FF

    .bell
      &__container
        background: #f7f8fa
      &__text
        p, span
          color: #15172E
      &__flex
        color: #15172E
      &__item
        &::after
          background: #B3B3B3
          opacity: 0.3
        &:last-child
          &::after
            display: none

      &__message
        &::-webkit-scrollbar
          width: 4px
          height: 4px

    .modal
      background: #FAFAFA
      box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
      &__ok
        svg
          fill: #6278AF
        &.__stroke
          svg
            fill: none
            stroke: #6278AF
      &__text
        color: #434343
      &__info
        color: #434343
      &__name
        color: #434343
      &__sum
        background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
      &__button
        background: #7635FF
        color: $white

    .breadcrumb
      &__item
        color: #434343
        a
          color: #434343
        &::after
          background: url(../img/svg/icon_arrow_white.svg) center no-repeat

    .information
      &-block
        &__left
          p
            color: #434343
            +mon7
        &__right
          color: rgba(0, 0, 0, 0.53)
          +mon7
          &.retail
            color: #434343
            +mon7

          &.wht
            color: #434343
            +mon7
          &.pnk
            background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            +mon7
        &__item.dep
          .information
            &-block
              &__right
                color: #774BFF
                background: none
    .history
      color: #434343

    .__input
      color: #15172E
      background: $white
      box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)

    .__select
      &[data-state="active"]
        .__select__title
          border-radius: 18px 18px 0 0

      &__title
        background: $white
        color: rgba(#15172E, 0.65)
        +mon7
        &::after, &::before
          background: rgba(21, 23, 46, 0.85)
        &.act
          color: rgba(#15172E, 1)
          +mon5

      &__content
        &::after, &::before
          background: $white

      &__label
        color: #15172E
        z-index: 1
        &::after
          background: linear-gradient(90deg, rgba(255, 198, 198, 0) 0%, rgba(21, 23, 46, 0.17) 51.84%, rgba(255, 255, 255, 0) 99.52%)
        &:hover
          background: linear-gradient(90deg, rgba(78, 88, 211, 0.07) 0%, rgba(196, 196, 196, 0) 78.12%)

      &__input
        &:checked+label
          background: linear-gradient(90deg, rgba(78, 88, 211, 0.07) 0%, rgba(196, 196, 196, 0) 78.12%)

    .table
      &-box
        &__container
          background: #FFFFFF
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        &__item
          &::after
            opacity: 0.19
          &.head
            p
              color: #636363
              +mon7
        &__total
          span
            background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
            -webkit-background-clip: text
        &__button
          +mon7

    input::-webkit-input-placeholder
      color: rgba(#15172E, 0.65)
      +mon7
    input::-moz-placeholder
      color: rgba(#15172E, 0.65)
      +mon7
    input:-moz-placeholder
      color: rgba(#15172E, 0.65)
      +mon7
    input:-ms-input-placeholder
      color: rgba(#15172E, 0.65)
      +mon7

    .subtitle
      color: #434343

    .contarct
      &__item
        background: #FAFAFA
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.06)
      &__box
        &::-webkit-scrollbar
          width: 6px
          height: 6px
      &__title
        background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        &.__pink
          background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent

      &__left
        color: #636363
      &__right
        color: #434343
        +mon7
      &__total
        background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    .market
      &__content
        p
          &:first-child
            color: #15172E

    .setting
      &-input
        &__item
          label, a
            color: #434343
      &-header
        &__tab
          background: #DDE7FF
          color: #434343
          &:hover
            background: rgba(#6278AF, 0.3)
          &.active
            background: #6278AF
            color: #ffffff

    .structure
      &-info
        background: #FAFAFA
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        &__name
          color: #434343
        &__item
          p, span
            color: #434343

      &__main
        background: #FAFAFA
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        .structure
          &__item
            &::before
              opacity: 0.4
            &::after
              width: 100%
              background: linear-gradient(90deg, rgba(232, 232, 232, 0.12) 0%, rgba(196, 196, 196, 0) 78.12%)
          &__content
            p
              color: #434343
              +mon5
              &.platinum
                color: #BF56D9
              &.bronze
                color: #FF697A
              &.emerald
                color: #1DBDAB
              &.gold
                color: #E8E089
              &.turnover
                background: linear-gradient(180deg, #E9B9E9 0%, #7A007A 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
      &__show
        button
          border: 1px solid #343943
          background: #FAFAFA
          color: #434343
          &::after
            background: url('../img/svg/icon_arrow_white.svg') no-repeat
            background-size: contain
      &__header
        .structure
          &__item
            p
              color: #434343

    .partners
      &-box
        background: #FAFAFA
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        &__friend
          span
            color: #434343

    .cashback
      &-load
        background: #FAFAFA
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        svg
          fill: #6278AF
          fill-opacity: 0.8
      &-history
        background: #FAFAFA
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        &__box
          &::-webkit-scrollbar
            width: 8px
        &__item
          &::after
            opacity: 0.3
        &__left
          a, p, span
            color: #434343
        &__right
          color: #434343
      &__item
        background: #FAFAFA
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        span
          color: #1B1B1B
        p
          background: linear-gradient(180deg, #CDCDCD 0%, #272727 100%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparen

    .active-contracts
      &__item
        background: #fafafa
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        &.contract-tab__item, &.active-products__item
          background: #f3f7ff
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)

      &__percent
        background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        +mon7
      &__easy
        background: linear-gradient(180deg, #8569F9 0%, #B7A7FC 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    .contract
      &-header
        &__tab
          color: rgba(67, 67, 67, 0.65)
          &::after
            background: rgba(67, 67, 67, 0.65)
          &.active
            color: #434343
            &::after
              background: #434343

    .finance
      &-header
        &_tab
          background: #DDE7FF
          color: #434343
          &:hover
            background: rgba(#6278AF, 0.3)
          &.active
            background: #6278AF
            color: $white
      &-table
        &__item
          &::after
            height: 1px
            opacity: 0.3
          &.__title
            p
              color: #434343
          p
            color: #434343
            &:nth-child(3)
              color: #434343
        &__box
          background: #FAFAFA
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.04)
        &__error
          color: #BABABA

    .structure-modal
      &__container
        &::-webkit-scrollbar
          width: 4px
          height: 4px

      &__header
        .title
          color: $white
    .accordion
      &-name, &-partners
        color: $white
        

@media screen and ( max-width: 992px )
  body
    &.__white
      ::-webkit-scrollbar
        width: 8px
        height: 8px

@media screen and ( max-width: 576px )
  body
    &.__white
      ::-webkit-scrollbar
        width: 6px
        height: 6px
      .saidbar
        &.active
          .content__header
            background: $white
